*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input:focus{
    outline: none;
    box-shadow: none;
    border-color: transparent;
}

body{
    height: 100vh;
    overflow: hidden;
}

.main-container{
    height: 100vh;
    overflow: auto;
}

.nav{
    background-color: beige;
}

.search-nav{
    background-color: red;
}

input{
    outline: none;
    box-shadow: none;
    position: relative;
    width: 100%;
}

#submit-btn{
    position: absolute;
    top: 26%;
    right: 10%;
}

.add-btn{
    position: absolute;
    top: -15px;
    right: -15px;
}
.search-result-container{
    padding-top: 90px;
}
.box{
    height: 220px;
    width: 100%;
    border: 2px solid;
    margin-bottom: 30px;
    position: relative;
}

.grid{
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-title{
    position: absolute;
    padding: 0;
    border: 2px solid;
    bottom: 0;
}