*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    overflow: hidden;
}

.main-container{
    height: 100vh;
    overflow: auto;
}

.nav{
    background-color: beige;
}

input{
    width: 100%;
}

#submit

.add-btn{
    position: absolute;
    top: -15px;
    right: -15px;
}
.search-result-container{
    padding-top: 90px;
}
.box{
    height: 250px;
    width: 100%;
    border: 2px solid;
    margin-bottom: 30px;
}

.grid{
    display: flex;
    align-items: center;
    justify-content: center;
}